In [72]:
import pandas as pd
import math
import os
import time
from binance.client import Client

from datetime import datetime, timedelta

from ta import add_all_ta_features
from ta.utils import dropna

In [14]:
df = pd.read_csv("data/Binance_BTCUSDT_minute.csv", names=['unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT', 'tradecount']
,)

# Are they the same?
df

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1615593960000,2021-03-13 00:06:00,BTC/USDT,56896.00,56944.56,56891.65,56939.64,20.650365,1.175508e+06,868
1,1615593900000,2021-03-13 00:05:00,BTC/USDT,56816.52,56920.00,56813.33,56895.99,78.521451,4.465809e+06,2091
2,1615593840000,2021-03-13 00:04:00,BTC/USDT,56843.61,56903.18,56756.09,56816.51,50.932357,2.894269e+06,1683
3,1615593780000,2021-03-13 00:03:00,BTC/USDT,56968.92,56991.11,56758.68,56843.60,91.443734,5.198313e+06,2588
4,1615593720000,2021-03-13 00:02:00,BTC/USDT,56961.36,57017.69,56804.33,56968.92,125.218754,7.126979e+06,3313
...,...,...,...,...,...,...,...,...,...,...
261763,1599857040000,2020-09-11 20:44:00,BTC/USDT,10318.99,10319.72,10316.58,10319.47,14.466964,1.492667e+05,284
261764,1599856980000,2020-09-11 20:43:00,BTC/USDT,10319.34,10320.14,10318.89,10319.00,13.548103,1.398070e+05,187
261765,1599856920000,2020-09-11 20:42:00,BTC/USDT,10319.50,10320.31,10318.49,10319.34,12.123487,1.251089e+05,193
261766,1599856860000,2020-09-11 20:41:00,BTC/USDT,10316.00,10321.09,10316.00,10319.50,16.328427,1.684977e+05,256
261767,1599856800000,2020-09-11 20:40:00,BTC/USDT,10317.00,10317.01,10314.36,10316.00,32.997684,3.403985e+05,342

In [18]:
df = df.drop(['unix', 'symbol', 'tradecount'], axis=1)

unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount

In [21]:
data.iloc[::-1]

NameError: name 'data' is not defined

In [32]:
df = df.iloc[::-1, :]
df

,date,open,high,low,close,Volume BTC,Volume USDT
261767,2020-09-11 20:40:00,10317.00,10317.01,10314.36,10316.00,32.997684,3.403985e+05
261766,2020-09-11 20:41:00,10316.00,10321.09,10316.00,10319.50,16.328427,1.684977e+05
261765,2020-09-11 20:42:00,10319.50,10320.31,10318.49,10319.34,12.123487,1.251089e+05
261764,2020-09-11 20:43:00,10319.34,10320.14,10318.89,10319.00,13.548103,1.398070e+05
261763,2020-09-11 20:44:00,10318.99,10319.72,10316.58,10319.47,14.466964,1.492667e+05
...,...,...,...,...,...,...,...
4,2021-03-13 00:02:00,56961.36,57017.69,56804.33,56968.92,125.218754,7.126979e+06
3,2021-03-13 00:03:00,56968.92,56991.11,56758.68,56843.60,91.443734,5.198313e+06
2,2021-03-13 00:04:00,56843.61,56903.18,56756.09,56816.51,50.932357,2.894269e+06
1,2021-03-13 00:05:00,56816.52,56920.00,56813.33,56895.99,78.521451,4.465809e+06
0,2021-03-13 00:06:00,56896.00,56944.56,56891.65,56939.64,20.650365,1.175508e+06

In [59]:
df['Volume'] = df['Volume BTC'] *0

<ipython-input-59-f990fe4d8da0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Volume'] = df['Volume BTC'] *0

In [61]:
df = df.drop(['Volume BTC', 'Volume USDT'], axis=1)

In [70]:
df.iloc[-17197:-2887,:].to_csv("data/test.csv", index=False, header=False)

In [71]:
df.iloc[-102_078:-17197,:].to_csv("data/train.csv", index=False, header=False)

In [52]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT'], dtype='object')

In [56]:
max(df['Volume USDT'])

104698421.86792725

In [57]:
min(df['Volume USDT'])

0.0