In [2]:
import pandas as pd

# Opening

In [12]:
time = "1d"
df = pd.read_csv(f"BTCUSDT-{time}-data.csv")
df = df.drop(["quote_av", "trades", "tb_base_av", "tb_quote_av", "ignore", "close_time"], axis=1)
df

      timestamp      open      high       low     close        volume
0    2020-06-07   9666.85   9802.00   9372.46   9746.99  57952.848385
1    2020-06-08   9746.99   9800.00   9633.00   9782.01  40664.664125
2    2020-06-09   9782.00   9877.00   9570.00   9772.43  46024.001289
3    2020-06-10   9772.44   9992.72   9704.18   9885.00  47130.762982
4    2020-06-11   9885.22   9964.00   9113.00   9280.40  94418.984730
..          ...       ...       ...       ...       ...           ...
361  2021-06-03  37568.68  39476.00  37170.00  39246.79  75889.106011
362  2021-06-04  39246.78  39289.07  35555.15  36829.00  91317.799245
363  2021-06-05  36829.15  37925.00  34800.00  35513.20  70459.621490
364  2021-06-06  35516.07  36480.00  35222.00  35796.31  47650.206637
365  2021-06-07  35796.31  36900.00  35498.62  36511.04  33726.234927

[366 rows x 6 columns]

# Saving

In [13]:
n = len(df)
split = int(n/7)
print(f"{split}/{n}")

52/366

In [14]:
df.iloc[:split,:].to_csv(f"../data/train{time}.csv", index=False)
df.iloc[split:,:].to_csv(f"../data/test{time}.csv", index=False)